.main {
    flex: 1;
}

.container {
    width: 90%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px 16px;
}
.containerWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 60px;
    text-align: center;
}

.description {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 16px;
}